<div class="ml-5 mt-3 ">
    <span [routerLink]="['']" class="bg-yellow-100 p-3 cursor-default hover:bg-white">
        {{names?.back}}
    </span>
</div>
<table class="m-5">
    <thead>
        <tr>
            <th rowspan="2">{{names?.playerName}}</th>
            <th rowspan="2">{{names?.totalGames}}</th>
            <th colspan="5">{{names?.wins}}</th>
            <th rowspan="2">{{names?.draws}}</th>
            <th colspan="5">{{names?.loses}}</th>
            <th rowspan="2">{{names?.hunter}}</th>
            <th rowspan="2">{{names?.succHunt}}</th>
            <th rowspan="2">{{names?.hunted}}</th>
            <th rowspan="2">{{names?.clearPoints}}</th>
            <th rowspan="2">{{names?.totalPoints}}</th>
        </tr>
        <tr>
            <th>{{names?.winsTotal}}</th>
            <th>{{names?.normal}}</th>
            <th>{{names?.goat}}</th>
            <th>{{names?.officer}}</th>
            <th>{{names?.general}}</th>
            <th>{{names?.losesTotal}}</th>
            <th>{{names?.normal}}</th>
            <th>{{names?.goat}}</th>
            <th>{{names?.officer}}</th>
            <th>{{names?.general}}</th>
        </tr>
    </thead>
    @for(stat of playersStatistics; track stat.playerName)
    {
        <tr>
            <td>{{stat.playerName}}</td>
            <td>{{stat.gamesPlayed}}</td>
            <td>{{stat.wins}}</td>
            <td>{{stat.normalVictoryWins}}</td>
            <td>{{stat.goatWins}}</td>
            <td>{{stat.officerWins}}</td>
            <td>{{stat.generalWins}}</td>
            <td>{{stat.draws}}</td>
            <td>{{stat.loses}}</td>
            <td>{{stat.normalVictoryLoses}}</td>
            <td>{{stat.goatLoses}}</td>
            <td>{{stat.officerLoses}}</td>
            <td>{{stat.generalLoses}}</td>
            <td>{{stat.wasHunter}}</td>
            <td>{{stat.successfulHunt}}</td>
            <td>{{stat.wasHunted}}</td>
            <td>{{stat.clearedPoints}}</td>
            <td>{{stat.totalPointsLeftWith}}</td>
        </tr>
    }
</table>