@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --domino-tile-color: orange;
    --domino-tile-dots-color: green;
    --domino-tile-line-color: blue;
} */

body {
    background-color: #ffffcc;
}
