$domino-tile-back-primary-color: var(--domino-tile-back-primary-color, orange);
$domino-tile-back-secondary-color: var(--domino-tile-back-secondary-color, black);

.domino-tile {
    display: flex;
    position: relative;
    border: 2px solid black;
    &-vertical {
        flex-direction: column;
        height: 12vh;
        width: 6vh;
    }
    &-horizontal {
        flex-direction: row;
        height: 6vh;
        width: 12vh;
    }
}
.market-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    min-width: 20vh;
    justify-content: center;
}

.back-wave {
    background:
      radial-gradient(circle at 3vh 3vh, transparent 3vh, $domino-tile-back-secondary-color 4.2vh, $domino-tile-back-secondary-color 0vh, transparent 3.75vh),
      radial-gradient(circle at 3vh 0.75vh, transparent 3vh, $domino-tile-back-secondary-color 3.15vh, $domino-tile-back-secondary-color 3.3vh, transparent 3.45vh)
      $domino-tile-back-primary-color;
    background-size: 6vh 6vh;
    background-position: -3vh -2vh;
    // transform: rotate(90deg);
}