$table-bg-color: var(--table-bg-color);
$message-text-color: var(--message-text-color);
$message-bg-color: var(--message-bg-color);
$menu-text-color: var(--menu-text-color);
$menu-bg-color: var(--menu-bg-color);
$start-button-text-color: var(--start-button-text-color);
$start-button-bg-color: var(--start-button-bg-color);

:host.game {
    background-color: $table-bg-color;
    display: block;
    width: 100%;
    height: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, calc(100vw/12));
    grid-template-rows: repeat(24, calc(100vh/24));
    gap: 0px;
}
.grid-item {
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}
.opponent-hand {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
    border-top: none;
    border-right: none;
    border-left: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 2px 10px 2px 20px;
    justify-content: center;
}
.menu-button {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $menu-text-color;
    background-color: $menu-bg-color;
    cursor: default;
}
.menu-open {
    grid-row-start: 4;
    grid-row-end: 22;
    grid-column-start: 1;
    grid-column-end: 11;
    background-color: $menu-bg-color;
    z-index: 2;
    overflow: auto;
}
.game-table {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 22;
    border-left: none;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 3vh);
    grid-template-rows: repeat(auto-fill, 3vh);
    gap: 0;
}
.market {
    grid-column-start: 11;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 22;
    margin-top: -1px;
    border-top-width: 2px;
    border-right: none;
    padding: 5px 5px 5px 5px;
}
.player-hand {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 22;
    grid-row-end: -1;
    border-bottom: none;
    border-left: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 2px 10px 2px 20px;
    justify-content: center;
}
.play-button {
    grid-column-start: 11;
    grid-column-end: -1;
    grid-row-start: 22;
    grid-row-end: -1;
    border-bottom: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: $start-button-text-color;
    background-color: $start-button-bg-color;
}
.play-button:active {
    box-shadow: inset 0px 0px 2px 2px green;
}
.message {
    position: absolute;
    top: 35%;
    left: 40%;
    z-index: 10;
    width: fit-content;
    padding: 5px;
    color: $message-text-color;
    background-color: $message-bg-color;
    font-size: 1.4rem;
    white-space: pre-line;
}
.opponent-message {
    position: absolute;
    top: 8%;
    left: 40%;
    z-index: 10;
    width: fit-content;
    padding: 5px;
    color: $message-text-color;
    background-color: $message-bg-color;
    font-size: 1.4rem;
    white-space: pre-line;
}
