<div class="grid-container">
    <div class="grid-item opponent-hand">Opponent hand</div>
    <div #GameTable class="grid-item game-table">
        @if(game.table.tilesOnTable) {
            @for(tile of this.tileDispays.values(); track tile.id)
            {
                <div [style]="buildStyle(tile.styleProps)">
                    <Dom-tile [tile]="tile.tilePosition.tile" [isHorizontal]="tile.isHorizontal"></Dom-tile>
                </div>
            }
        }
    </div>
    <div class="grid-item market">Market</div>
    <div class="grid-item player-hand">
        @if(game) {
            @for(tile of this.game.player.hand; track tile.tileId)
            {
                <Dom-tile [tile]="tile" [isHorizontal]="false"></Dom-tile>
            }
        }
    </div>
    <button type="button" class="grid-item play-button" (click)="start()">Start!</button>
</div>

