<Dom-language-switch class="absolute top-0 right-4"></Dom-language-switch>
<div class="w-full h-[100vh] flex justify-center items-center bg-amber-100">
    <div class="flex flex-col w-fit m-2 p-2">
        <div [routerLink]="['game']" class="menu-button-wide">{{names?.startGame ?? "Start Game!"}}</div>
        <div class="flex justify-between items-center my-2 mr-2">
            @if(editPlayer) {
                <div>
                    <span class="text-sm text-gray-400">{{ names?.typePlayerName ?? "Type player name" }}</span><br>
                    <input [(ngModel)]="playerName"
                        (ngModelChange)="changePlayer($event)"
                        type="text" class="mr-2 w-24">
                </div>
            } @else { 
                <div class="menu-text">{{playerName}}</div>
            }
            <div class="menu-button" (click)="editPlayer = !editPlayer">
                {{ editPlayer ? names?.save ?? "Save" : names?.changePlayer ?? "Change player" }}
            </div>
        </div>
        <div class="flex justify-between items-center my-2 mr-2">
            @if(editOpponent) {
                <div>
                    <span class="text-sm text-gray-400">{{ names?.selectOpponent ?? "Select opponent"}}</span><br>
                    <select [(ngModel)]="opponentName"
                        (ngModelChange)="changeOpponent($event)"
                        class="mr-2 w-full">
                        @for(opponent of opponents; track opponent.playerName) {
                            <option [value]="opponent.playerName">{{opponent.playerName}}</option>
                        }
                    </select>
                </div>
            } @else {
                <div class="menu-text">{{opponentName}} </div>   
            }
            <div class="menu-button" (click)="editOpponent = !editOpponent">
                {{ editOpponent ? names?.save ?? "Save" : names?.setOpponent ?? "Set opponent"}}
            </div>
        </div>
        <div [routerLink]="['players-statistics']" class="menu-button-wide">{{ names?.statistics ?? "Statistics" }}</div>
    </div>
</div>
<Dom-version class="absolute bottom-0 right-4"></Dom-version>
