.minus {
    display: inline-block;
    background-color: red;
    margin-left: 2px;
    margin-right: 16px;
    inline-size: 20px;
    cursor: default;
}
.plus {
    background-color: green;
    inline-size: 20px;
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 1.05rem;
    cursor: default;
}
.elements {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 10px;
}
