<div class="ml-4 relative">
    <div>{{names?.instruction}}</div>
    <div (click)="saveRules()"
        class="text-2xl/10 right-1 top-1 p-2 absolute bg-green-500 cursor-default">
        {{names?.save}}
    </div>
    <div (click)="setDefaultRules()"
        class="text-2xl/10 right-1 top-16 p-2 absolute bg-yellow-500 cursor-default">
        {{names?.default}}
    </div>
    <div>
      <div class="flex flex-row border-b-2 pb-4 mb-4">
        <div class="mr-4">{{names?.maxGrabsInRow}}</div>
        <input type="number" min="0" max="28" [(ngModel)]="gameRules.maxGrabsInRow" class="w-11 h-6 pl-2">
      </div>
    </div>
    <div>
      <div class="flex flex-row border-b-2 pb-4 mb-4">
        <div class="mr-4">{{names?.minLeftInMarket}}</div>
        <input type="number" min="0" max="28" [(ngModel)]="gameRules.minLeftInMarket" class="w-11 h-6 pl-2">
      </div>
    </div>
    <div>
      <div class="flex flex-row border-b-2 pb-4 mb-4">
        <div class="mr-4">{{names?.starterTiles}}</div>
        <div class="elements">
            @for(id of gameRules.starterTiles; track id) {
                <p (click)="removeTile(id, 'starters')" class="whitespace-nowrap">
                    <span class="font-bold">{{id}}</span>
                    <span class="minus">-</span>
                </p>
            }
            <input #starterTileId type="text" value="1-1" pattern="[0123456]-[0123456]"
                class="w-11 h-6 pl-2 invalid:text-red-500">
            <p class="plus" (click)="addTile(starterTileId, gameRules.starterTiles)">+</p>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-row border-b-2 pb-4 mb-4">
        <div class="mr-4">{{names?.huntStarterTiles}}</div>
        <div class="elements">
            @for(id of gameRules.huntStarterTiles; track id) {
                <p (click)="removeTile(id, 'huntStarters')" class="whitespace-nowrap">
                    <span class="font-bold">{{id}}</span>
                    <span class="minus">-</span>
                </p>
            }
            <input #huntStarterTileId type="text" value="1-1" pattern="[0123456]-[0123456]"
                class="w-11 h-6 pl-2 invalid:text-red-500">
            <p class="plus" (click)="addTile(huntStarterTileId, gameRules.huntStarterTiles)">+</p>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-row border-b-2 pb-4 mb-4">
        <div class="mr-4">{{names?.pointsToStartHunt}}</div>
        <input type="number" min="0" max="9999" [(ngModel)]="gameRules.pointsToStartHunt" class="w-16 h-6 pl-2">
      </div>
    </div>
    <div>
      <div class="flex flex-row border-b-2 pb-4 mb-4">
        <div class="mr-4">{{names?.workGoat}}</div>
          <input type="checkbox" [(ngModel)]="gameRules.workGoat">
      </div>
    </div>
    <div>
      <div class="flex flex-row border-b-2 pb-4 mb-4">
        <div class="mr-4">{{names?.totalPointsToLoseWithGoat}}</div>
        <input type="number" min="0" max="9999" [(ngModel)]="gameRules.totalPointsToLoseWithGoat" class="w-16 pl-2">
      </div>
    </div>
    <div>
      <div class="flex flex-row border-b-2 pb-4 mb-4">
        <div class="mr-4">{{names?.lastTilePoints}}</div>
        <div class="elements">
            @for(record of iterateThrough(gameRules.lastTilePoints); track record.key) {
                <p class="whitespace-nowrap">
                    <span class="font-bold">{{record.key}}:</span>
                    <span> {{record.value}}</span>
                    <span (click)="removeRecord(record.key, gameRules.lastTilePoints)" class="minus">-</span>
                </p>
            }
            <div class="flex gap-1">
              <input #lastTilePointsKey type="text" value="1-1" pattern="[0123456]-[0123456]"
                  class="w-11 h-6 pl-2 invalid:text-red-500">
              <span>:</span>
              <input #lastTilePointsValue type="number" min="0" max="9999" value="10"
                  class="w-11 pl-2 h-6">
              <p (click)="addRecord(lastTilePointsKey, lastTilePointsValue, gameRules.lastTilePoints)"
                class="plus">+</p>
            </div>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-row border-b-2 pb-4 mb-4">
        <div class="mr-4">{{names?.morePointToEndWith}}</div>
        <div class="elements">
          @for(record of iterateThrough(gameRules.morePointToEndWith); track record.key) {
              <p class="whitespace-nowrap">
                  <span class="font-bold">{{record.key}}:</span>
                  <span> {{record.value}}</span>
                  <span (click)="removeRecord(record.key, gameRules.morePointToEndWith)" class="minus">-</span>
              </p>
          }
          <div class="flex gap-1">
            <input #lastTilePointsKey type="text" value="1-1" pattern="[0123456]-[0123456]"
                class="w-11 h-6 pl-2 invalid:text-red-500">
            <span>:</span>
            <input #lastTilePointsValue type="number" min="0" max="9999" value="10"
                class="w-11 pl-2 h-6">
            <p (click)="addRecord(lastTilePointsKey, lastTilePointsValue, gameRules.morePointToEndWith)"
              class="plus">+</p>
          </div>
      </div>
      </div>
    </div>
  </div>
  
